/*
 * Globals
 */
 .button-pill {
   border-radius: 20px;
   color: #333;
   text-shadow: none; /* Prevent inheritance from `body` */
   background-color: #fff;
   border: .05rem solid #fff;
   margin-right: 105px;
 width: 200px; }



@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  /*background-color: white;*/
  background-image: url(background.jpg);
  background-color: #eeede8;
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
  /*margin-top: 10rem;*/
}


/*
 * Masthead for nav
 */

.blog-masthead {
  /*margin-bottom: 10rem;*/
  background-color: black;
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  position: fixed;
  width: 90rem;
  height: 4rem;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
  background-color: black;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top : 6rem;
  padding-bottom: 1.25rem;
  /*margin-bottom: 2rem;*/
  /*margin: 4rem;*/
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px black;
}
.blog-subtitle{
  color: #333;

}
.blog-description {
  font-size: 1.1rem;
  color: #444;
  text-align: right;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  color: black;
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: white;
  text-align: center;
  background-color: black;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.pic{
  display: block;
  margin:auto;
}
.precheckheader{
font-size: 24px;
}
.prechecktext
{
  font-style: italic;
}
.warning{
  font-style: normal;
  font-weight: bold;
}
