/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  margin-right: 65px;
  width: 120px;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  background-image:url('https://cdn.vox-cdn.com/thumbor/WSdzDh4CAEewrP_e8KJRVB_eCbU=/0x0:3011x2220/1200x800/filters:focal(1266x870:1746x1350)/cdn.vox-cdn.com/uploads/chorus_image/image/56585231/irma_vir_2017248_lrg.0.jpg');
  background-size:cover;
  color: #fff;
  text-align: left;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  /*display: table-cell;*/
  padding-top: 15%;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: 15%;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

h1 {
  margin-bottom: 30px;
  font-size: 60px;
}
.brief{
  margin-bottom: 40px;
  padding-right: 10%;
}

/*
 * Footer
 */

.mastfoot {
  text-align: center;
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}



.divcss5{
  position: relative;
  width: 180px;
  height:130px;
  margin-right:2%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px; 
  /*padding-left: 10px;*/
}
.divcss5 a,.divscc5 span{
  text-decoration: none;
  display: none;
  /*padding-left: 10px;*/
  font-weight: bold;
  left: 2px;
}
.divcss5:hover a.now{
  cursor:pointer;
  position: absolute;
  padding-left: 10px;
  /*bac*/
  /*top:0;*/
  /*width:100%;*/
  /*height:100%;*/
  /*z-index:100;*/
  /*left:0;*/
  display: inline-block;
}
.divcss5:hover span{
  /*padding-left: 10px; */
  display: inline-block;
  /*position:absolute;*/
  bottom:0;
  left:0;
  color:#FFF;
  width:180px;
  z-index: 10;
  height: 36px;
  font-weight: bold;
  /*line-height: 36px;*/
  background:#000;
  filter:alpha(opacity=60);
  -moz-opacity:0.5;
  opacity: 0.5;
}

